<h1>Your todo list!</h1>

<!-- <ul>
	{{#each data}}
	<li><input type="checkbox"><a href="/{{this.id}}">{{this.todo}}</a></li>
	{{/each}}
</ul> -->



	{{#each data}}
	<input type="checkbox"><a href="/{{this.id}}">{{this.todo}}</a><br>
	{{/each}}


<form action="/" method="POST">
	<input type = "text" placeholder="TODO" name = "list"><br>
	<input type = "text" placeholder = "description (optional)" name="description"><br>
	<input type= "submit"> <!-- get a get request on sumbit by default -->
</form>


