
<div id="backimg">
<div id="container">
<div id = "css">
<h1>Sign In</h1>
	<form action="/" method="POST">
		<input type="text" placeholder="username" name="username">
		<input type="password" placeholder="password" name="password">
		<input type="submit">
	</form>
</div>

<br>
<div id = "css">

<h1>Sign Up</h1>
<form action="/register" method="POST">
	<input type="text" placeholder="username" name="username">
	<input type="password" placeholder="password" name="password">
	<input type="submit" value="Register">
</form>
</div>

<!-- <p>{{failMess}}</p> -->
</div>
</div>